body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: "TitleFont";
    src: url("../assets/fonts/Mythology\ Of\ Egypt.otf") 
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 10px 90px;
    width: 95%;
    max-width: 1200px;

    background-color: rgba(225, 225, 225, 0.6);
    border: none;
    border-radius: 30px;
    

    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.navLinks {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.navLinks a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.searchBar input{
    width: 200px;
    padding: 10px 10px;
    border-radius: 30px;
    border: none;
    background-color: white;
    border-radius: 10px;
}

.searchBar{
    display: flex;
    align-items: center;
    gap: 15px;
    background: #ffff;
    padding: 8px 50px;
    border-radius: 10px;
    width: 200px;
}

.logo img{
    height: 55px;
}

.hero {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 100vh;
    padding-right: 200px;
    background-image: url("../assets/img/img/homeHeader.png");
    background-size: cover;
    background-repeat: none;
    background-position: left center;
}

.heroText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 140px;
    max-width: 500px;

}

.heroText h1{
    font-family: "TitleFont";
    font-size: 96px;
    color: #e9ad1c;
    margin: 0;
}

.heroText p{
    font-family: "Metamorphous", sans-serif;
    font-size: 24px;
    color: #ffffff;
    margin-top: 10px;
}

.journey {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 100px 80px;
    background-color: #002d68;
}

.journeyImage img{
    width: 750px;
    border-radius: 20px;
}

.journeyText {
    max-width: 450px;
}

.journeyText h3{
    color: #e9ad1c;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.journeyText h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #ffff;
}

.journeyText p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #ffff;
    margin-top: 20px;
}

.journeyText button{
    margin-top: 25px;
    padding: 12px 28px;
    border: none;
    border-radius: 10px;
    background-color: #15d5f5;
    font-family: 'Poppins', sans-serif;
    color: #ffff;
    font-weight: 600;
    cursor: pointer;
}

.sanctuary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
    padding: 120px 150px;
    background-color: #ffffff;
    max-width: 1500vh;
    margin: auto;
}

.sanctuaryImage img{
    width: 600px;
    border-radius: 20px;
}

.sanctuaryText h4{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top: 10px;
    color: #2b2153;
}

.sanctuaryText h2{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}

.sanctuaryText p{
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    margin-top: 20px;
    color: #6b6b6b;
    max-width: 500px;
}

.story{
    background-color: #002d68;
    text-align: center;
    padding: 100px 120px;

}

.storyHeader{
    color: #e9ad1c;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.storyCards{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 60px;
}

.storyCard{
    width: 400px;
    text-align: center;
}

.storyCard img{
    width: 300px;
    border-radius: 20px;
}

.story h2{
    font-family: 'Poppins' sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 60px;
}

.story h3{
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #ffff;
    margin-top: 10px;
}

.story p{
    font-family: 'Poppins' sans-serif;
    font-size: 14px;
    color: #d9d9d9;
    margin-top: 10px;
}

.legendButton{
    margin-top: 60px;
    padding: 14px 40px;
    border: none;
    border-radius: 10px;
    background-color: #15d5f5;
    color: #ffff;
    font-family: 'Poppins' sans-serif;
    font-weight: 600;
}

.footer{
    background-color: #ffffff;
    padding: 80px 120px;
}

.footerTop{
    display: flex;
    justify-content: space-between;
}

.footerLeft img{
    width: 180px;
}

.footerLeft p{
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    color: #6b6b6b;
}

.footerCenter{
    display: flex;
    flex-direction: column;
}

.footerCenter h3{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footerCenter img{
    width: 250px;
}
.footerCenter a{
    text-decoration: none;
    color: #6b6b6b;
    margin-bottom: 12px;
}

.socialIcons{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.socialIcons img{
    width: 60px;
    border-radius: 12px;
}

.footerLine{
    height: 1px;
    background-color: #ddd;
    margin: 50px 0;
}

.footerBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerLinks{
    display: flex;
    gap: 40px;
}

.footerLinks a{
    text-decoration: none;
    color: #6b6b6b;
}

.adoptHero{
    position: relative;
    height: 40vh;
    background-image: url("../assets/img/img/adoptHeader.png");
    background-size: cover;
    background-position: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    text-align: center;
}

.adoptHero::before{
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.adoptHero h1{
    position: relative;
    z-index: 2;
    font-family: "TitleFont";
    font-size: 120px;
    color: #ffff;
    text-align: center;
    margin: 0;
}


.adoptIntro{
    background-color: #002d68;
    padding: 80px 150px;
    text-align: center;
}

.adoptIntro h2{
    font-family: 'Metamorphous';
    color: #f2b233;
    font-size: 40px;
    margin-bottom: 30px;
}

.adoptIntro p{
    font-family: 'Poppins', sans-serif;
    color: #ffff;
    line-height: 1.8;
    max-width: 1200px;
    margin: 0 auto;
}

.filterBar{
    background-color: #f2b233;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.filterLeft{
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    font-family: 'Poppins';
}
.filterLeft i{
    font-size: 18px;
}

.filterCenter{
    border-left: 2px solid rgb(225,225,225,0.4);
    padding-left: 30px;
}

.filterCenter p{
    color: white;
    font-family: 'Poppins', sans-serif;
}

.filterRight{
    display: flex;
    align-items: center;
    gap: 30px;
}

.showBox{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.number{
    background: #f5e6c4;
    padding: 8px 14px;
    border-radius: 10px;
    color: #333;
}

.sortBox{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.dropdown{
    background: #f5e6c4;
    padding: 10px 20px;
    border-radius: 10px;
    color: #333;
}

.productSection{
    display: flex;
    justify-content: center;
    padding: 80px 0px;
}

.productContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    max-width: 1200px;
    margin: 30px auto;
}

.productImage img{
    width: 480px;
    border-radius: 20px;
}

.productInfo{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.productInfo h1{
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 5px;
}

.priceRow{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 6px;
}

.price{
    font-size: 24px;
    color: #aaa;
}

.oldPrice{
    text-decoration: line-through;
    color: #aaa;
    font-size: 24px;
}

.ratingRow{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.stars{
    color: #f2b233;
}

.divider{
    width: 1px;
    height: 15px;
    background-color: #ccc;
}

.dividerLine{
    border: none;
    height: 2px;
    background: #ddd;
    margin: 20px 0;
}

.tag{
    color: #777;
}

.description{
    font-size: 16px;
    margin: 30px 0;
    line-height: 1.5;
    color: #555;
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
    margin-bottom: 15px;
}

.actionRow{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.quantity{
    display: flex;
    align-items: center;
    background-color: #0d2f5b;
    border-radius: 10px;
    overflow: hidden;
}

.quantity button{
    border: none;
    background-color: transparent;
    color: white;
    padding: 14px 18px;
    font-size: 18px;
    cursor: pointer;
}

.quantity span{
    color: white;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 500;
    padding: 0 10px;
}

.addButton{
    background-color: #15d5f5;
    color: white;
    border: none;
    padding: 14px 40px;
    border-radius: 10px;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}



.extraInfo{
    margin-top: 20px;
    font-family: 'Poppins',sans-serif;
    color: #666;
}

.extraInfo p{
    font-size: 14px;
    margin: 5px 0;
}

.extraInfo span{
    margin-top: 10px;
}

.infoRow{
    display: flex;
    margin-bottom: 8px;
}

.label{
    width: 120px;
}

.colon{
    width: 20px;
    text-align: center;
    margin-right: 10px;
}

.value{
    flex: 1;
    color: #555;
}

.kitsune{
    background-color: #002d68;
    color: white;
}

.kitsune .tag{
    color: rgba(225, 225, 225, 0.7);
}

.kitsune .price{
    color: #15d5f5;
}

.kitsune .quantity{
    background-color: #e9ad1c;
}

.kitsune .addButton{
    background-color: #15d5f5;
    color: white;
}

.kitsune hr{
    background-color: rgba(225, 225, 225, 0.3);
}

.kitsune .description{
    color: white;
}


.wisp{
    background-color: #002d68;
    color: white;
}

.wisp .tag{
    color: rgba(225, 225, 225, 0.7);
}

.wisp .price{
    color: #15d5f5;
}

.wisp .quantity{
    background-color: #e9ad1c;
}

.wisp .addButton{
    background-color: #15d5f5;
    color: white;
}

.wisp hr{
    background-color: rgba(225, 225, 225, 0.3);
}

.wisp .description{
    color: white;
}


.spirit{
    background-color: #002d68;
    color: white;
}

.spirit .tag{
    color: rgba(225, 225, 225, 0.7);
}

.spirit .price{
    color: #15d5f5;
}

.spirit .quantity{
    background-color: #e9ad1c;
}

.spirit .addButton{
    background-color: #15d5f5;
    color: white;
}

.spirit hr{
    background-color: rgba(225, 225, 225, 0.3);
}

.spirit .description{
    color: white;
}


.contactHero{
    position: relative;
    height: 40vh;
    background-image: url("../assets/img/img/contactHeader.png");
    background-size: cover;
    background-position: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    text-align: center;
}

.contactHero h1{
    position: relative;
    z-index: 2;
    font-family: "TitleFont";
    font-size: 120px;
    color: #ffff;
    text-align: center;
    margin: 0;
}

.aboutSection{
    padding: 120px 140px;
    background-color: #ffffff;
}

.aboutContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 40px 20px;
}

.aboutText{
    max-width: 600px;
    font-family: 'Poppins';
}

.label{
    color: #15d5f5;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.aboutContainer h2{
    font-family: 'Poppins' ,sans-serif;
    font-size: 48px;
    color: #002d68;
    margin-top: 10px;
    margin-bottom: 20px;
}

.description{
    color: #888;
    line-height: 1.8;
    font-size: 16px;
    max-width: 650px;
}

.aboutImage{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.aboutImage img{
    width: 100%;
    max-width: 550px;
    border-radius: 20px;
}

.contactSection{
    padding: 80px 100px;
    font-family: 'Poppins',sans-serif;
}

.contactContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    max-width: 1200px;
    margin: 0 auto;

}

.contactLeft{
    width: 45%;
    padding-right: 70px;
}

.label{
    color: #15d5f5;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    white-space: nowrap;
}

.contactLeft h2{
    font-size: 32px;
    color: #1d3557;
    margin-bottom: 20px;
    margin-top: 3px;
}

.socialIcons{
    display: flex;
    gap: 15px;
    margin: 20px 0;
    margin-bottom: 50px;
}

.socialIcons img{
    width: 90px;
    min-height: 90px;
    border-radius: 15px;
    cursor: pointer;
}

.spaceTop{
    margin-top: 40px;
}

.map{
    width: 100%;
    max-width: 600px;
    aspect-ratio: 1/1;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
}
.map iframe{
    width: 100%;
    max-width: 600px;
    height: 100%;
    border: none;
    border-radius: 20px;
}

.contactRight{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.formCard{
    width: 100%;
    max-width: 520px;
    padding: 50px 60px;
    margin-left: auto;
    background-image: url("../assets/img/img/formBackground.png");
    background-size: cover;
    background-position: center;
    padding: 40px;
    border-radius: 30px;
    color: #ffffff;
}


.formCard h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.formCard label{
    font-size: 18px;
}

.formCard form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formCard input,
.formCard textarea{
    width: 100%;
    padding: 14px 18px;
    border: none;
    border-radius: 10px;
    font-family: 'Poppins';
    font-size: 17px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.formCard textarea{
    height: 120px;
}
.formCard textarea{
    height: 100px;
}

.formCard button{
    width: 240px;
    padding: 20px 0;
    background-color: #5fd0df;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.formCard button:hover{
    background-color: #3bbac9;
}